main.project{
  p {
    margin-bottom: 30px;
  }
  h1 {
    border-style: solid none none;
    width: 250px;
    text-align: center;
  }

  h3 {
    border-style: none none solid;
    width: 250px;
    text-align: center;
    margin: 30px auto 60px;
    font-size: 24px;
  }
  img {
    width: 100%;
    max-width: 600px;
    height: 250px;
    background: transparent;
    border: none;
    margin: 50px;
    object-fit: contain;
  }
  blockquote {
    font-size: 20px;
    max-width: 80vw;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    i {
      color: inherit;
    }
    &::before, &::after {
      color: #ff90fb;
      content: "“";
      display: block;
      font-size: 30px;
      text-align: left;
    }
    &::after {
      content: "”";
      text-align: right;
    }
  }
}