p {
  max-width: 320px;
  border-width: 2px;
  border-color: #ff90fb;
  border-style: hidden solid hidden hidden;
  &.invert{
    border-style: hidden hidden hidden solid;
  }
  padding-right: 10px;
}