@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Fira+Code&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  color: #f0eeee;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #261726 0%, #262a2e 76.04%);
}

header {
  position: fixed;
  right: 0;
  z-index: 10;
}
header #burger {
  cursor: pointer;
  display: flex;
}
header svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px;
  width: 80px;
  height: 80px;
}
header .active svg {
  transform: rotate(90deg);
}
header path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
header path:nth-child(1) {
  transform-origin: 36% 40%;
}
header path:nth-child(2) {
  stroke-dasharray: 29 299;
}
header path:nth-child(3) {
  transform-origin: 35% 63%;
}
header path:nth-child(4) {
  stroke-dasharray: 29 299;
}
header path:nth-child(5) {
  transform-origin: 61% 52%;
}
header path:nth-child(6) {
  transform-origin: 62% 52%;
}
header .active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
header .active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
header .active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
header .active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
header .active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
header .active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-stretch: condensed;
}

h1 {
  font-size: 35px;
  border-width: 2px;
  border-color: #f0eeee;
  border-style: solid hidden;
  padding: 5px;
  width: fit-content;
  margin: 20px auto;
}
h1 span.hashtag {
  font-family: inherit;
  color: #868686;
}

h2 {
  font-size: 32px;
  color: #ff90fb;
}

p {
  font-size: 17px;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #img_profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: url("../media/profile.jpg") top 15% left 47%;
  background-size: 260%;
}
main .border {
  width: fit-content;
  padding: 7px;
  border: 3px solid #ff90fb;
  box-shadow: 0 0 5px rgba(255, 144, 251, 0.6823529412);
  border-radius: 100%;
  margin: 0 auto;
}
main .reseaux {
  width: fit-content;
  margin: 0 auto;
}
main .reseaux > * {
  padding: 0 15px;
}
main .reseaux #discord:hover,
main .reseaux #github:hover,
main .reseaux #mail:hover {
  filter: drop-shadow(0 0 5px rgba(141, 200, 255, 0.6823529412));
}
main .reseaux .hidden {
  transform: translateY(50px);
  opacity: 0;
}
main section {
  margin: 40px auto 0;
}
main p {
  max-width: 320px;
  border-width: 2px;
  border-color: #ff90fb;
  border-style: hidden solid hidden hidden;
  padding-right: 10px;
}
main div.cta {
  width: fit-content;
  margin: 40px auto 0;
}
main div.cta button, main div.cta a.button {
  background: none;
  border: 2px solid #8dc8ff;
  color: #8dc8ff;
  border-radius: 0;
  font-size: 16px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(141, 200, 255, 0.6823529412);
}
main ul {
  margin: 30px;
  list-style: none;
}
main ul li {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}
main ul li:before {
  content: "[ ";
}
main ul li:after {
  content: " ]";
}
main ul li.list-hidden {
  transform: translateY(100px);
  opacity: 0;
}
main ul li div {
  display: inline-block;
  width: 200px;
  text-align: center;
}

aside {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
}
aside nav {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 10px;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  mix-blend-mode: screen;
  opacity: 50%;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
